---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  font-family: $title-font-family;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: $base-font-size*2;
  a {
    color: inherit;
  }
}

h2 {
  font-size: $base-font-size*1.5;
}

h3 {
  font-size: $base-font-size*1.2
}

h4 {
  font-weight: bold;
  color: $gray;
}

p {
  margin: 15px 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
	cursor: pointer;
  position: relative;
}

nav a:hover:after,
nav a:active:after {
  content: "";
  border-bottom: 1px solid $armour-black;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}



ol ul, ul ol, ul ul, ol ol {
  margin: 0;
  list-style-type: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .home-container
//

.home-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  object {
    width: 100%;
  }

  svg {
    opacity: .5;
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  path {
    fill: $armour-red;
  }

  .site-name {
    position: absolute;
    top: 50%;
    font-size: 2.5*$base-font-size;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: -70px 0 0 0;
  }

  nav {
    width: 696px;
    text-align: center;
    float: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    line-height: 1.7;
  }

  nav a:nth-of-type(5) {
    border: none;
  }
}

//
// .masthead
//

.masthead {
  padding-top: 20px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-avatar svg {
  width: auto;
  height: 70px;
  path {
    fill: $armour-red;
  }
}

.site-name {
  margin: 0;
  color: $armour-grey;
  cursor: pointer;
  font-family: $title-font-family;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  margin-top: -8px;
  text-transform: uppercase;
  margin-left: 6px;
}

.sporting li.sporting a,
.technology li.technology a,
.medical li.medical a,
.ballistic li.ballistic a,
.contact li.contact a,
.press li.press a {
  color: $armour-red;
  cursor: default;
}

.sporting li.sporting a:after,
.technology li.technology a:after,
.medical li.medical a:after,
.ballistic li.ballistic a:after,
.contact li.contact a:after,
.press li.press a:after {
  border: none;
}

nav {
  float: right;
  margin: 34px 24px 0 0; // @TODO: Vertically middle align
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: bold;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  li {
    margin-left: 5px;
    padding-left: 10px;
    display: inline;
    border-left: 1px solid $darkGray;
  }

  a {
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: $base-font-size*0.7;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }

  li:nth-of-type(1) {
    border: none;
  }

  li.selected {
    color: red;
  }
}

//
// .main
//

#main {
  margin-top: 2*$gutter;
  @include sections;
}

.posts {
  float: right;
  overflow: hidden;
  width: 50%;
  height: 500px;
  position: relative;
}

.posts-container {
  position: relative;
}

.posts .post {
  display: inline;
  position: relative;
  display: block;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

// press clippings

.press-clipping {
  width: 50%;
  a{
    display: inline;
    width: 20%;
    position: relative;
  }

  p {
    display: inline;
    width: 80%;
    vertical-align: top;
  }

  img{
    width: 20%;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  clear: both;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.wrapper-footer nav {
  margin: 0;
  float: none;

  li {
    border-color: $armour-blue;
  }

  a {
    color: $armour-blue;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";